<div class="col-md-6 p-4">
    <h3 class="text-2xl font-semibold text-green-700 mb-4">Questions</h3>
    <div class="overflow-x-auto shadow-md rounded-lg">
      <table *ngIf="questions.length > 0" class="w-[40vw] text-sm text-left text-gray-700 border border-green-200">
        <thead class="bg-green-600 text-white">
          <tr>
            <th scope="col" class="px-4 py-2">Id</th>
            <th scope="col" class="px-4 py-2">Text</th>
            <th scope="col" class="px-4 py-2">Type</th>
            <th scope="col" class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions" class="hover:bg-green-50 border-b">
            <td class="px-4 py-2">{{ question.id }}</td>
            <td class="px-4 py-2">{{ question.text }}</td>
            <td class="px-4 py-2">{{ question.questionType }}</td>
            <td class="px-4 py-2">
                <button 
                  class="bg-green-500 text-white px-2 py-1 rounded" 
                  (click)="showAnswers(question.answers)">Answers</button>
              </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="questions.length === 0" class="text-gray-500 mt-4 text-center">
        No questions available for this subsubject.
      </p>
    </div>
  </div>

  <!-- Answer Component -->
<div *ngIf="selectedAnswers">
   <!-- Back Button with FontAwesome Icon -->
<div class="mt-4">
    <fa-icon 
      [icon]="'arrow-left'" 
      class="text-green-500 text-xl cursor-pointer mr-2" 
      (click)="hideAnswers()">
    </fa-icon>
    <span 
      class="text-green-500 text-lg cursor-pointer" 
      (click)="hideAnswers()"> Back
    </span>
  </div>
  
    <app-answer [answers]="selectedAnswers"></app-answer>

  </div>

