<div class="col-md-6 p-4">
    <h3 class="text-2xl font-semibold text-green-700 mb-4">Questions</h3>
    <div class="overflow-x-auto shadow-md rounded-lg">
      <table *ngIf="questions.length > 0" class="w-[40vw] text-sm text-left text-gray-700 border border-green-200">
        <thead class="bg-green-600 text-white">
          <tr>
            <th scope="col" class="px-4 py-2">ID</th>
            <th scope="col" class="px-4 py-2">Text</th>
            <th scope="col" class="px-4 py-2">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions" class="hover:bg-green-50 border-b">
            <td class="px-4 py-2">{{ question.id }}</td>
            <td class="px-4 py-2">{{ question.text }}</td>
            <td class="px-4 py-2">{{ question.questionType }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="questions.length === 0" class="text-gray-500 mt-4 text-center">
        No questions available for this subsubject.
      </p>
    </div>

  </div>
