
.subject-title {
    border-left: 5px solid green; 
    padding-left: 10px;  
  }
  
  .subsubject-banner {
    border-left: 3px solid #4CAF50; 
    padding-left: 8px; 
  }
  
  .container {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  li ul {
    margin-left: 20px;
  }
  
  li ul li {
    cursor: pointer;
  }
  
  li ul li:hover {
    text-decoration: underline;
  }
  