<div class="modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" *ngIf="surveyId">
    <div class="bg-white rounded-lg p-6 w-1/3 shadow-lg">
      <h2 class="text-xl font-bold mb-4">Create a New Survey</h2>
      <form (ngSubmit)="createSurveyEdition()">
        <div class="mb-4">
            <label for="startDate" class="block text-gray-700">startDate</label>
            <input 
        id="startDate"
            type="date"
            [(ngModel)]="surveyEdition.startDate"
            name="startDate"
            required class="w-full p-2 border rounded">
          </div>
        <div class="mb-4">
            <label for="year" class="block text-gray-700">year</label>
            <input 
            id="year"
            type="number"
            [(ngModel)]="surveyEdition.year"
            name="year"
            required class="w-full p-2 border rounded">
          </div>
     
        <div class="flex justify-end">
          <button 
            type="button" 
            class="bg-red-500 text-white px-4 py-2 rounded mr-2" 
            (click)="resetForm()">Cancel
          </button>
          <button 
            type="submit" 
            class="bg-green-500 text-white px-4 py-2 rounded">Create
          </button>
        </div>
      </form>
    </div>
  </div>
  


